
.head {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-logo {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}



.top_part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
}

.top_part_left {
    display: flex;
    flex-direction: column;
    padding-right: 24px;
    max-width: 500px;
    gap: 8px;
}

.head2 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.desc {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.signup {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border: none;
    box-shadow: none;
    width: 100px;
    height: 32px;
    flex-shrink: 0;
    background-color: #3882f6;
    color: white;
    padding: 4px;
    border-radius: 12px;
    margin: 0;
}

.flowers3 {
    height: 250px;
    display: flex;
    align-items: flex-end;
}



.info {
    font-family: 'Roboto', sans-serif;
    font-weight: 900px;
    color: #1f2937;
    font-size: 36px;
    text-align: center;
}


.imgs {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.imgs img{
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 5px;
    border: solid 3px;
    border-color: #3882f6;
}

.text {
    font-family: 'Roboto', sans-serif;
    color: #1f2937;
    font-size: 14px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.text p {
    text-wrap: wrap;
    width: 136px;
    text-align: center;
}